 table,
    tr,
    td {
      margin-top: 5px;
      border: 2px solid rgb(89, 86, 86);
    }
    thead {
      font-weight: bold;
    }
    tr,
    td {
      margin-right: 5px;
      padding: 2px 12px;
    }
    body {
      background-color: aliceblue;
    }
    #loader {
      width: 300px;
      height: 200px;
      border-radius: 10px;
      background-color: rgb(218, 60, 60);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 25px;
      color: rgb(232, 229, 227);
      z-index: 1000;
      display: none;
    }